name: Release dev container features
on: workflow_dispatch

jobs:
  deploy:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions:
      packages: write # To publish Development Containers Features
      contents: write # To push tags
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: devcontainers/action@1082abd5d2bf3a11abccba70eef98df068277772 # v1.4.3
        with:
          publish-features: "true"
          base-path-to-features: "./src"
          devcontainer-cli-version: "0.59.1"
        env:
          GITHUB_TOKEN: ${{ github.token }}
