name: Release dev container features
on: workflow_dispatch

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write # To publish Development Containers Features
      contents: write # To push tags
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: devcontainers/action@528049dce833673f136ddfc09c2720d450029a6b # v1.4.2
        with:
          publish-features: "true"
          base-path-to-features: "./src"
          devcontainer-cli-version: "0.59.1"
        env:
          GITHUB_TOKEN: ${{ github.token }}
